<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.net>
    <defaultProxy>
		<!-- <proxy proxyaddress="http://winproxyus1.server.lan:3128" bypassonlocal="True"/> -->
    </defaultProxy>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.8"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <remove value="default.ashx"/>
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml"/>
      <mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz"/>
    </staticContent>
  </system.webServer>
</configuration>