<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.net>
		<defaultProxy>
			<proxy  proxyaddress="http://winproxyus1.server.lan:3128" bypassonlocal="True" />
		</defaultProxy>
	</system.net>
    <system.web>
	  <customErrors mode="Off"></customErrors>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<remove value="default.ashx" />
			</files>
		</defaultDocument>
		<staticContent>
			<mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
			<mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz" />
		</staticContent>
	</system.webServer>
</configuration>
