<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.net>
		<defaultProxy>
		</defaultProxy>
	</system.net>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.8"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <remove value="default.ashx"/>
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml"/>
      <mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz"/>
    </staticContent>
  </system.webServer>
</configuration>